# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\201814471\storm\KafkaStorm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
