[submodule "KafkaStorm-day"]
	path = KafkaStorm-day
	url = https://github.com/YisakH/2021_Winter_Kafka2Storm.git
[submodule "KafkaStorm-weekly"]
	path = KafkaStorm-weekly
	url = https://github.com/YisakH/2021_Winter_Kafka2Storm.git
[submodule "KafkaStorm-weekly_routeName"]
	path = KafkaStorm-weekly_routeName
	url = https://github.com/YisakH/2021_Winter_Kafka2Storm.git
[submodule "KafkaStorm_routeName-master"]
	path = KafkaStorm_routeName-master
	url = https://github.com/YisakH/2021_Winter_Kafka2Storm.git
[submodule "simple-kafka-producer"]
	path = simple-kafka-producer
	url = https://github.com/YisakH/2021_Winter_Kafka2Storm.git
